.wrapperBG {
  width: 100vw;
  height: 100vh;
  background: url(../../assets/bg-index.jpg) no-repeat bottom / cover;
}

.wrapperLogin {
  min-width: 300px;
  max-width: 25vw;
  height: 100vh;
  margin: 0 auto;
  background-color: #89542f99;
  box-shadow: 0 0 15px #25180e99;
}

.wrapperItems {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 15px 0;
}

.wrapperItemForm {
  text-align: center;
}

.controlledInput {
  height: 20px;
  width: 250px;
  background: #ffffff40;
  color: #ffffffe1;
  padding: 15px 10px;
  margin: 5px 0;
  border-radius: 5px;
}
::placeholder {
  color: #e0e0e0cc;
}

.containerButton {
  width: 150px;
  height: 30px;
  background: #ffffff;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.8);
  margin: 15px 0;
  border-radius: 5px;
}