.wrapperBG {
  width: 100vw;
  height: 100vh;
  background: url(../../assets/bg-reg.jpg) no-repeat center / cover;
}

.wrapperLogin {
  width: 400px;
  height: 100vh;
  margin: 0 auto;
  background-color: #000000a6;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.wrapperItems {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.wrapperItemForm {
  text-align: center;
  margin: 10px;
}

.controlledInput {
  height: 20px;
  width: 250px;
  background: #ffffff40;
  color: #ffffffe1;
  padding: 15px 10px;
  margin: 5px 0;
  border-radius: 5px;
}
::placeholder {
  color: #e0e0e0cc;
}

.containerButton {
  width: 100px;
  height: 30px;
  background: #ffffff;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.8);
  margin-top: 10px;
  border-radius: 5px;
}